:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

.karla-400 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-700 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--green-200);
}

img {
    width: 16px;
    height: 16px;
}

main {
    position: relative;
    flex: 1;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 16rem);
    gap: 1rem;

    * {
        grid-column: 1 / 3;
    }

    .field {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 0.5rem;

        & > label:first-child, legend:first-child {
            color: var(--grey-900);

            &::after {
                content: " *";
            }
        }
    }

    .error, .error-invalid {
        color: var(--red);
        display: none;
    }

    #first-name-field {
        grid-column: 1 / 2;
    }
    
    #last-name-field {
        grid-column: 2 / 3;
        
    }

    #first-name-field, #last-name-field, #email-field {
        input {
            height: 2.5rem;
            border: 1px solid var(--grey-500);
            border-radius: 0.3rem;
            box-sizing: border-box;
            padding: 0 1rem;
            cursor: pointer;

            &:focus {
                cursor: text;
                outline: 1px solid var(--green-600);
            }
        }
    }

    #query-type-field {
        border: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;

        & legend {
            margin-bottom: 1rem;
        }

        & label {
            border: 1px solid var(--grey-500);
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            flex: 1;
            
            & input + img {
                display: none;
            }

            & input:checked {
                display: none;

                & + img {
                    display: inline-block;
                }
            }

            &:hover, input:hover {
                cursor: pointer;
            }

            &:has(input:checked) {
                border: 1px solid var(--green-600);
            }
        }

        & .error {
            flex-basis: 100%;
        }
    }

    #message-field {
        textarea {
            height: 5.5rem;
            border: 1px solid var(--grey-500);
            border-radius: 0.3rem;
            box-sizing: border-box;
            padding: 1rem;
            resize: none;
            cursor: pointer;

            &:focus {
                cursor: text;
                outline: 1px solid var(--green-600);
            }
        }
    }

    #consent-field {
        & > label {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & input + img {
                display: none;
            }

            & input:checked {
                display: none;

                & + img {
                    display: block;
                }
            }

            &:hover, input:hover {
                cursor: pointer;
            }
        }
    }
}

#messagebox {
    background-color: var(--grey-900);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: top 0.3s ease;

    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 1rem;

    & h3 {
        margin: 0;
        color: var(--white);
    }

    & p {
        flex-basis: 100%;
        margin: 0;
        color: var(--green-200);
    }
}

#submit {
    width: 100%;
    height: 2.5rem;
    background-color: var(--green-600);
    color: var(--white);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 1024px) {
    main {
        padding: 3rem 15%;
        position: static;
    }

    #form {
        position: static;
        top: 0;
        left: 0;
        transform: none;
        display: flex;
        flex-direction: column;

        * {
            grid-column: 1 / 2;
        }

        #query-type-field {
            flex-direction: column;
        }

        #message-field {
            textarea {
                height: 10.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    main {
        padding: 3rem 1rem;
        position: static;
    }
}
